html {
  height: 100%;
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevents the body from scrolling */
}

#mainContainer {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

#formHalf {
  padding-top: 0.8rem;
  vertical-align: text-top;
  width: 15rem;
  flex-shrink: 0; /* Prevents the form from shrinking */
}

#formContainer {
  height: 100%;
  padding: 0.3rem;
  overflow-y: auto;
}

#tableContainer {
  border: 0.2rem solid;
  border-spacing: 0;
  border-collapse: collapse;
  height: 100%;
  flex-grow: 1; /* Table takes the remaining space */
  overflow-x: auto; /* Horizontal scroll for table */
  overflow-y: auto; /* Vertical scroll if needed */
  max-height: 100%;
}

#dataTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: auto; /* Auto-sizing columns based on content */
}

.tabElement {
  font-size: 0.8em;
  border: 0.1rem solid;
  padding: 5px;
  word-wrap: break-word;
  white-space: normal;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tabElementModified {
  color: rgb(241, 228, 46);
  background-color: #706715 !important;
  border-color: black;
}

.tabElementBolded {
  font-weight: bold;
  background-color: #f1ad37;
  background: linear-gradient(0deg, rgba(217,186,94,1) 0%, rgba(255,210,64,1) 100%);
  font-size: .9em;
}

.tabElementAlt {
  background-color: rgba(235, 235, 235);
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease !important;
}

.tabElement:hover {
  outline: 4px solid #f5d230;
  outline-offset: -2px; /* Pulls the outline closer to the cell */
}

.header {
  height: .01rem;
}

.button {
  background: rgb(217,186,94);
  background: linear-gradient(0deg, rgba(217,186,94,1) 0%, rgba(255,221,83,1) 39%, rgba(255,247,207,1) 48%, rgba(255,221,83,1) 57%, rgba(255,210,64,1) 100%);
}

 /* Custom scrollbar */
::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #F5F5F5;
 }
 
::-webkit-scrollbar
 {
   width: 10px;
   background-color: #F5F5F5;
 }
 
::-webkit-scrollbar-thumb
 {
   background-color: #000000;
   border: 2px solid #555555;
 }
