[data-theme="light"] {
    --box-shadow: #888888;
    --box-shadow-2: #282828;
    --change-meter: #c5c5c5;
    --contrast-1: white;
    --contrast-2: black;
    --off-white: #f1f1f1;
    --school-theme: rgb(255, 210, 64);
    --data-input-bg: #e2e2e2;
    --cell-uneditable: #c0c0c0;
    --popup-bg: rgb(247, 247, 247);
    --tab-element: white;
    --tab-element-alt: rgba(235, 235, 235);
    --scollbar-bg: #F5F5F5;
    --login-box-bg: white;
    --table-container: white;
    --background-img: url(../resources/background.png);
}

[data-theme="dark"] {
    --box-shadow: #888888;
    --box-shadow-2: #282828;
    --change-meter: #3d3c44;
    --contrast-1: black;
    --contrast-2: white;
    --off-white: #34353b;
    --school-theme: rgb(255, 210, 64);
    --data-input-bg: #303133;
    --cell-uneditable: #202022;
    --popup-bg: rgb(67, 70, 75);
    --tab-element: rgb(67, 70, 75);
    --tab-element-alt: rgb(41, 42, 44);
    --scollbar-bg: #222222;
    --login-box-bg: rgb(67, 70, 75);
    --table-container: rgb(34, 34, 37);
    --background-img: url(../resources/background-dark.png);
}

html {
    height: 100%;
}

label {
    color: var(--contrast-2);
}

body {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image:var(--background-img);
    background-size: cover;
    /* Prevents the body from scrolling */
}

#mainContainer {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

#formHalf {
    vertical-align: text-top;
    width: 15rem;
    flex-shrink: 0;
    /* Prevents the form from shrinking */
}

#formContainer {
    height: 100%;
    padding: 0.3rem;
    overflow-y: auto;
}

#usernameInput {
    width: fit-content;
}

#tableContainer {
    box-shadow: 0 0 0.4em var(--box-shadow);
    border: 0.2rem outset;
    border-spacing: 0;
    border-collapse: collapse;
    border-color: var(--contrast-1);
    background: var(--table-container);
    margin: 0.5em;
    flex-grow: 1;
    /* Table takes the remaining space */
    overflow-x: auto;
    /* Horizontal scroll for table */
    overflow-y: auto;
    /* Vertical scroll if needed */
    max-height: 100%;
}

.rowsTable {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: auto;
}

#viewingText {
    background-color: black;
    color: white;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    box-shadow: 0 0 0.4em var(--box-shadow-2);
    padding: 0.5em;
}

#modeTag {
    background-color: rgb(68, 70, 192);
    overflow: hidden;
    color: white;
    border-radius: 0.4rem;
    margin-top: 5px;
    margin-bottom: 1em;
    text-align: center;
    font-size: small;
    padding-top: 0.2em;
}

.guestModeItem {
    background-color: rgb(45, 151, 63) !important;
}

#changeMeter {
    color: var(--contrast-2);
    background: var(--change-meter);
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 0.1em var(--box-shadow);
    padding: 0.5em;
}

#topRow {
    position: sticky;
    top: 0;
    /* Stick it to the top */
    background-color: var(--off-white);
    z-index: 1;
    /* Makes top row stays above other content */
}

#addRowsButton {
    background-color: #46a53e;
    color: white;
    border-radius: 2em;
    margin: 1em;
    height: 40px;
    padding-left: 1em;
    padding-right: 1em;
    width: fit-content;
}

#addRowsButton:hover {
    background-color: #66cc5d;
}

#addRowsButton:active {
    background-color: #25721e;
}

#deleteRowsButton {
    background-color: #c24444;
    color: white;
    border-radius: 2em;
    margin: 1em;
    height: 40px;
    padding-left: 1em;
    padding-right: 1em;
    width: fit-content;
}

#deleteRowsButton:hover {
    background-color: #cc5d5d;
}

#deleteRowsButton:active {
    background-color: #721e1e;
}

#centralBox {
    background-color: var(--table-container);
    width: 700px;
    height: 500px;
    margin-bottom: 50%;
    display: flex;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

#loginContainer {
    flex-grow: 3;
    overflow: hidden;
}

#loginImage {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 2em;
    width: 20em;
    height: 18em;
}

#connectButton {
    width: fit-content;
    height: fit-content;
}

#connectContainer {
    display: flex;
}

#disconnectButton {
    background-color: #c93a3a;
    color: white;
    position: absolute;
    padding: 0.35em;
    margin: 0.5em;
    bottom: 0;
    float: left;
    width: fit-content;
}
#disconnectButton:hover {
    background-color: #ec6a6a;
}
#disconnectButton:active {
    background-color: #691717;
}

.dataInput {
    color: var(--contrast-2);
    margin: 0.5em;
    border-radius: 0.2em;
    width: 90%;
    outline: 2px solid var(--school-theme);
    border: 0;
    background-color: var(--data-input-bg);
    outline-offset: 3px;
    padding: 0.2em;
    transition: 0.1s;
}

.dataInput:focus {
    outline-offset: 5px;
    background-color: var(--table-container);
}

.tooltip {
    padding: 2px;
    background-color: var(--school-theme);
    color: black;
    border-radius: 1px;
}

.errorText {
    color: rgb(211, 53, 53);
    font-size: small;
}

.tableInput {
    color: var(--contrast-2);
    margin: 0px;
    border: 0px;
    padding: 0px;
    outline: 0px;
    font-size: 1em;
    width: fit-content;
    background-color: transparent;
    text-align: center;
}

.tableInput[type="date"] {
    font-size: 1.4em;
}

.tableInput[type="number"] {
    width: 3em;
}

.cellUneditable {
    background-color: var(--cell-uneditable) !important;
}

.whiteTextForInput {
    color: var(--school-theme) !important;
}

label {
    font-weight: bold;
}

select option {
    background-color: var(--table-container);
}

button {
    background-color: var(--school-theme);
    box-shadow: 0 0 0.1em var(--box-shadow);
    border: 0px;
    color: black;
    padding: 0.2em;
    margin: 0.1em;
    border-radius: 0.2em;
    text-align: center;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
}

button:hover {
    background-color: rgb(255, 232, 156);
}

button:active {
    background-color: rgb(182, 152, 55);
}

.loader {
    border: 16px solid #1a1a1a;
    border-top: 16px solid rgb(255, 210, 64);
    border-radius: 50%;
    box-shadow: 0px 0px 2em#464646;
    width: 120px;
    height: 120px;
    animation: spin 0.8s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%), scaleZ(50%, -50%);
    display: none;
    z-index: 100;
}

.miniLoader {
    border: 7px solid #1a1a1a;
    border-top: 7px solid rgb(255, 210, 64);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-top: 15px;
    animation: spin 0.8s ease-in-out infinite;
    top: 50%;
    left: 60%;
    display: none;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

h1, h2 {
    color: var(--contrast-2);
}

h3 {
    text-align: center;
    color: var(--contrast-2);
}

.inputLabel {
    color: var(--contrast-2);
}

.popup {
    display: none;
    /* Hidden by default */
    position: absolute;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 80%;
    overflow-y: auto;
    /* Enable scroll if needed */
    overflow-x: hidden;
    background-color: var(--popup-bg);
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.popup-content {
    padding: 20px;
    border: 0px;
    min-width: 16em;
}

.close {
    color: #e76969;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}

.close:hover {
    color: #f3abab;
}

.tabElement {
    font-size: 0.75em;
    text-align: center;
    color: var(--contrast-2);
    background: var(--tab-element);
    border: 0.15rem solid var(--tab-element);
    padding: 5px;
    word-wrap: break-word;
    white-space: normal;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.tabElementModified {
    color: var(--school-theme);
    background-color: #706715 !important;
    border-color: var(--tab-element);
}

.tabElementBolded {
    font-weight: bold;
    background-color: var(--school-theme);
    border-color: var(--tab-element);
    color: black;
    font-size: .9em;
}

.tabElementAlt {
    background-color: var(--tab-element-alt);
    transition: color 0.5s ease, background-color 0.5s ease !important;
}

.tabElement:hover {
    outline: 4px solid var(--school-theme);
    outline-offset: -2px;
    /* Pulls the outline closer to the cell */
}

.header {
    height: .01rem;
}

/* Custom scrollbar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--scollbar-bg);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--scollbar-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--contrast-2);
    border: 2px solid var(--box-shadow);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}