html {
  height: 100%;
}

body {
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevents the body from scrolling */
}

#mainContainer {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

#formHalf {
  padding-top: 0.8rem;
  vertical-align: text-top;
  width: 15rem;
  flex-shrink: 0; /* Prevents the form from shrinking */
}

#formContainer {
  height: 100%;
  padding: 0.3rem;
  overflow-y: auto; /* Vertical scroll for form */
}

#tableContainer {
  border: 0.2rem solid;
  border-spacing: 0;
  border-collapse: collapse;
  height: 100%;
  flex-grow: 1; /* Table takes the remaining space */
  overflow-x: auto; /* Horizontal scroll for table */
  overflow-y: auto; /* Vertical scroll if needed */
  max-height: 100%; /* Ensures the table fills the remaining height */
}

#dataTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: auto; /* Allow auto-sizing of columns based on content */
}

.tabElement {
  font-size: 0.8em;
  border: 0.1rem solid;
  padding: 5px;
  word-wrap: break-word; /* Prevent text overflow by wrapping it */
  white-space: normal; /* Allow content to wrap and not overflow */
}

.header {
  height: .01rem;
}
